force-app/main/default/flows/Audit_Team_Member_AFTER_CREATE_UPDATE_Get_Auditor_TWD_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Tech_Auditor</name>
        <label>Assign Tech Auditor</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Audit.Tech_Auditor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tech_Auditor</targetReference>
        </connector>
    </assignments>
    <interviewLabel>[Audit Team Member][AFTER CREATE UPDATE] Get Auditor TWD Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Audit Team Member][AFTER CREATE UPDATE] Get Auditor TWD Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Audit</name>
        <label>Get Related Audit</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Tech_Auditor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Audit__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BMX_Quality_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tech_Auditor</name>
        <label>Update Tech Auditor</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>Get_Related_Audit</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Audit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auditor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Member__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Audit_Team_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
