force-app/main/default/flows/Autopopulate_Revision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>UN</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>revision_null_or_not</name>
        <label>revision null or not</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_records</targetReference>
            </connector>
            <label>null</label>
        </rules>
        <rules>
            <name>NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revision__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_records</targetReference>
            </connector>
            <label>NOT NULL</label>
        </rules>
    </decisions>
    <formulas>
        <name>currentrevision</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Revision__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Autopopulate Revision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autopopulate Revision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_update_records</name>
        <label>Copy 1 of update records</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Revision__c</field>
            <value>
                <elementReference>currentrevision</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_records</name>
        <label>update records</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Revision__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>revision_null_or_not</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>CMPL123_WF_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Audit Schedule to be Updated</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revise</stringValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BMX_Audits_Schedule__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
