force-app/main/default/flows/CreateAuditCriteria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>700</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>AuditCriteriaList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentAuditCriteria</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAuditCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignChapterIds</name>
        <label>assignChapterIds</label>
        <locationX>750</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>chapterIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopChapterInTopic.Chapter__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopChapterInTopic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignIds</name>
        <label>assignIds</label>
        <locationX>1215</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>selectSourceIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_to_get_selected_ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_get_selected_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValues</name>
        <label>assignValues</label>
        <locationX>845</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>currentAuditCriteria.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>displayTopics.firstSelectedRow.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAuditCriteria.Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>displayTopics.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAuditCriteria.Audit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAuditCriteria.Chapter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAuditCriteria.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAuditCriteria.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAuditCriteria.Source__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CreateAuditCriteria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateAuditCriteria</label>
    <loops>
        <name>loop_to_get_selected_ids</name>
        <label>loop to get selected ids</label>
        <locationX>1014</locationX>
        <locationY>259</locationY>
        <collectionReference>displaysource.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getChapterInTopic</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopAuditCriteria</name>
        <label>loopAuditCriteria</label>
        <locationX>985</locationX>
        <locationY>440</locationY>
        <collectionReference>getChapters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createAuditCriteria</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopChapterInTopic</name>
        <label>loopChapterInTopic</label>
        <locationX>954</locationX>
        <locationY>682</locationY>
        <collectionReference>getChapterInTopic</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignChapterIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getChapters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAuditCriteria</name>
        <label>createAuditCriteria</label>
        <locationX>597</locationX>
        <locationY>442</locationY>
        <inputReference>AuditCriteriaList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getChapterInTopic</name>
        <label>getChapterInTopic</label>
        <locationX>1169</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopChapterInTopic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Topic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>displayTopics.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chapter_in_Topic__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChapters</name>
        <label>getChapters</label>
        <locationX>963</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAuditCriteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>chapterIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>In</operator>
            <value>
                <elementReference>selectSourceIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chapter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSource</name>
        <label>getSource</label>
        <locationX>651</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>displaysourcescreen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Source__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTopics</name>
        <label>getTopics</label>
        <locationX>276</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectTopicScreen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Topic__c</object>
        <sortField>Topic_full_name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>displaysourcescreen</name>
        <label>Select Source</label>
        <locationX>852</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_to_get_selected_ids</targetReference>
        </connector>
        <fields>
            <name>displaysource</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Source__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getSource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-61ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Source Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-4e7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectTopicScreen</name>
        <label>SelectTopicScreen</label>
        <locationX>470</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getSource</targetReference>
        </connector>
        <fields>
            <name>displayTopics</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Topic__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getTopics</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Topic_full_name__c&quot;,&quot;guid&quot;:&quot;column-72ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Topic&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Topic full name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getTopics</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AuditCriteriaList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Audit_Criteria__c</objectType>
    </variables>
    <variables>
        <name>chapterIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CHAPTERVALUE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentAuditCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Audit_Criteria__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectSourceIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
