force-app/main/default/flows/Create_CI_from_Audit_Finding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>removeMarkup</name>
        <label>removeMarkup</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <actionName>RemoveHtmlMarkup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>check_if_ci_exit</targetReference>
        </connector>
        <inputParameters>
            <name>richText</name>
            <value>
                <elementReference>get_Audit_Finding.Finding_Description__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>description</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_CI_Id</name>
        <label>assign CI Id</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CI_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Audit_Finding.Cause_Investigation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Cause_Investigation_already_created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_ci_exit</name>
        <label>check if ci exit</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_Cause_Investigation_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ci_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Audit_Finding.Cause_Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CI_Id</targetReference>
            </connector>
            <label>ci exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Scope</name>
        <label>check Scope</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>create_Cause_Investigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not Corporate</defaultConnectorLabel>
        <rules>
            <name>Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Audit_Finding.Scope__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Cause_Investigation_0</targetReference>
            </connector>
            <label>Corporate</label>
        </rules>
    </decisions>
    <interviewLabel>Create CI from Audit Finding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CI from Audit Finding V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Cause_Investigation</name>
        <label>create Cause Investigation</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CI_Id</assignRecordIdToReference>
        <connector>
            <targetReference>update_audit_finding</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origination_Entity__c</field>
            <value>
                <elementReference>get_Audit_Finding.Origination_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origination__c</field>
            <value>
                <elementReference>get_Audit_Finding.Origination__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cause_Investigation__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_Cause_Investigation_0</name>
        <label>create Cause Investigation</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CI_Id</assignRecordIdToReference>
        <connector>
            <targetReference>update_audit_finding</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <object>Cause_Investigation__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Audit_Finding</name>
        <label>get Audit Finding</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>removeMarkup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Audit_Finding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_audit_finding</name>
        <label>update audit finding</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cause_Investigation__c</field>
            <value>
                <elementReference>CI_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Audit_Finding__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_Cause_Investigation_already_created</name>
        <label>Screen: Cause Investigation already created</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>already_created_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.SCREEN_FLOW_AUTO_CI_CREATE_TITLE}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>output_text_ci_already_existing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.SCREEN_FLOW_AUTO_CI_CREATE_EXIST_1} &lt;/span&gt;&lt;a href=&quot;/{!get_Audit_Finding.Cause_Investigation__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.SCREEN_FLOW_AUTO_CI_CREATE_EXIST_2}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Cause_Investigation_Creation</name>
        <label>Screen: Cause Investigation Creation</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_Scope</targetReference>
        </connector>
        <fields>
            <name>header_panel_with_creation_button</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.SCREEN_FLOW_AUTO_CI_CREATE_TITLE} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>output_text_create_CI_Instruction</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.SCREEN_FLOW_AUTO_CI_CREATE_CREATE_TEXT}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Audit_Finding</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CI_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
