force-app/main/default/flows/New_Quality_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignexternallRecordtypeId</name>
        <label>assignexternallRecordtypeId</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>externalRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkrectype.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkrectype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignInternalRecordtypeId</name>
        <label>assignInternalRecordtypeId</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>internalRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkrectype.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkrectype</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_recordType</name>
        <label>check recordType</label>
        <locationX>886</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_audit_schedule.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>internal_QA</targetReference>
            </connector>
            <label>internal</label>
        </rules>
        <rules>
            <name>external</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_audit_schedule.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>external_QA</targetReference>
            </connector>
            <label>external</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkLeadauditor</name>
        <label>checkLeadauditor</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>LeadeditorCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notgood</defaultConnectorLabel>
        <rules>
            <name>Isgood</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getUser.TWD_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Audit Coordinator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUser.TWD_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Audit Participant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadAuditor.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInternalQA</targetReference>
            </connector>
            <label>Isgood</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkLeadauditor_0</name>
        <label>checkLeadauditor</label>
        <locationX>1018</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>LeadeditorCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notgood</defaultConnectorLabel>
        <rules>
            <name>Isgood_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getUser_0.TWD_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Audit Coordinator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getUser_0.TWD_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Audit Participant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadAuditor_0.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateExternalQA</targetReference>
            </connector>
            <label>Isgood</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecordTypeNAme</name>
        <label>checkRecordTypeNAme</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkrectype.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignInternalRecordtypeId</targetReference>
            </connector>
            <label>Internal1</label>
        </rules>
        <rules>
            <name>external1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkrectype.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignexternallRecordtypeId</targetReference>
            </connector>
            <label>external1</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Already_Audited</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Already_Audited__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssociatedSteeringcommitteePickListValues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Associated_Steering_committee_s__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Audit_Method</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Audit_Method__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AuditeeCountryPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Auditee_Country__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DepartmentInvolvedValues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Department_s_Involved__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DistributorCategoryPickListValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distributor_Category__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DistributorTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distributor_Type__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PlannedQuarterPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Planned_Quarter__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProcessPicklistValues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Process_es__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonforAuditPickListValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Audit__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SitePicklistvalues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Site_Auditee_Location__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubProcessPicklistvalues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Process_es__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupplierLevelPickListValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Supplier_Level__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YearPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Year__c</picklistField>
        <picklistObject>BMX_Quality_Audit__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Quality Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Quality Audit</label>
    <loops>
        <name>checkrectype</name>
        <label>checkrectype</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <collectionReference>getRecordTypeId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkRecordTypeNAme</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_recordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateExternalQA</name>
        <label>CreateExternalQA</label>
        <locationX>754</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Information__c</field>
            <value>
                <elementReference>Additional_Information_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Already_Audited__c</field>
            <value>
                <elementReference>AlreadyAudited_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Steering_committee_s__c</field>
            <value>
                <elementReference>Associated_Steering_committee_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Method__c</field>
            <value>
                <elementReference>AuditMethod_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Objectives__c</field>
            <value>
                <elementReference>Audit_Objectives_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Schedule__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auditee_Address__c</field>
            <value>
                <elementReference>Auditee_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auditee_Country__c</field>
            <value>
                <elementReference>AuditeeCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Category__c</field>
            <value>
                <elementReference>Distributor_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Name__c</field>
            <value>
                <elementReference>Distributor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Number__c</field>
            <value>
                <elementReference>Distributor_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Type__c</field>
            <value>
                <elementReference>Distributor_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Auditor__c</field>
            <value>
                <elementReference>LeadAuditor_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Quarter__c</field>
            <value>
                <elementReference>Planned_Quarter_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Non_TWD_Audit__c</field>
            <value>
                <elementReference>Previous_Non_TWD_Audit_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_TWD_Audit__c</field>
            <value>
                <elementReference>Previous_TWD_Audit_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Audit__c</field>
            <value>
                <elementReference>Reason_for_Audit_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>externalRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope__c</field>
            <value>
                <elementReference>get_audit_schedule.Scope__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Level__c</field>
            <value>
                <elementReference>Supplier_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>Year_0</elementReference>
            </value>
        </inputAssignments>
        <object>BMX_Quality_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateInternalQA</name>
        <label>CreateInternalQA</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Copy_1_of_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Information__c</field>
            <value>
                <elementReference>Additional_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Already_Audited__c</field>
            <value>
                <elementReference>AlreadyAudited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Method__c</field>
            <value>
                <elementReference>AuditMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Objectives__c</field>
            <value>
                <elementReference>Audit_Objectives</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audit_Schedule__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department_Other__c</field>
            <value>
                <elementReference>Department_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department_s_Involved__c</field>
            <value>
                <elementReference>Department_s_Involved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Auditor__c</field>
            <value>
                <elementReference>LeadAuditor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Quarter__c</field>
            <value>
                <elementReference>Planned_Quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Non_TWD_Audit__c</field>
            <value>
                <elementReference>Previous_Non_TWD_Audit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_TWD_Audit__c</field>
            <value>
                <elementReference>Previous_TWD_Audit.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_es__c</field>
            <value>
                <elementReference>Process_es</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Audit__c</field>
            <value>
                <elementReference>Reason_for_Audit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>internalRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope__c</field>
            <value>
                <elementReference>get_audit_schedule.Scope__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Auditee_Location__c</field>
            <value>
                <elementReference>Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Department_s_Involved__c</field>
            <value>
                <elementReference>Sub_Department_s_Involved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Process_es__c</field>
            <value>
                <elementReference>Sub_Process_es</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </inputAssignments>
        <object>BMX_Quality_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_audit_schedule</name>
        <label>get audit schedule</label>
        <locationX>886</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BMX_Audits_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkrectype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BMX_Quality_Audit__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkLeadauditor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadAuditor.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser_0</name>
        <label>getUser</label>
        <locationX>1018</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkLeadauditor_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadAuditor_0.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Success</name>
        <label>Copy 1 of Success</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Success_Message</name>
            <fieldText>&lt;p&gt;Successfully created  &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Quality Audit &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error_Message</name>
        <label>Copy 2 of Error_Message</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Error_Msg</name>
            <fieldText>&lt;p&gt;You cannot create a Quality Audit at this status&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error_Message</label>
        <locationX>1018</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;You cannot create a Quality Audit at this status&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>external_QA</name>
        <label>external_QA</label>
        <locationX>1018</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getUser_0</targetReference>
        </connector>
        <fields>
            <name>Audit_Information_0</name>
            <fieldText>Audit Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Audit_Information_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordtypedisplay_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Record Type ; External&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Title_0</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Audit_Objectives_0</name>
                    <fieldText>Audit Objectives</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Year_0</name>
                    <choiceReferences>YearPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Reason_for_Audit_0</name>
                    <choiceReferences>ReasonforAuditPickListValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Audit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LeadAuditor_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Lead_Auditor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lead Auditor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BMX_Quality_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AlreadyAudited_0</name>
                    <choiceReferences>Already_Audited</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Previously Audited?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Additional_Information_0</name>
                    <fieldText>Additional Information</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Audit_Information_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>blank3</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Audit_Schedule</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_audit_schedule.Name</elementReference>
                    </defaultValue>
                    <fieldText>Audit Schedule #</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Planned_Quarter_0</name>
                    <choiceReferences>PlannedQuarterPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Planned Quarter</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AuditMethod_0</name>
                    <choiceReferences>Audit_Method</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Audit Method</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Previous_Non_TWD_Audit_0</name>
                    <fieldText>Previous Non-TWD Audit</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Previous_TWD_Audit_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Previous_TWD_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Previous TWD Audit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BMX_Quality_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scope_0</name>
            <fieldText>Scope</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scope_0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Associated_Steering_committee_s</name>
                    <choiceReferences>AssociatedSteeringcommitteePickListValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Associated Steering committee(s)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Supplier_Level</name>
                    <choiceReferences>SupplierLevelPickListValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supplier Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Distributor_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Distributor Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Distributor_Category</name>
                    <choiceReferences>DistributorCategoryPickListValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Distributor Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Auditee_Address</name>
                    <fieldText>Auditee Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scope_0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Distributor_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Distributor Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Distributor_Type</name>
                    <choiceReferences>DistributorTypeValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Distributor Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AuditeeCountry</name>
                    <choiceReferences>AuditeeCountryPickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Auditee Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>internal_QA</name>
        <label>internal_QA</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
        <fields>
            <name>Audit_Information</name>
            <fieldText>Audit Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Audit_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>recordtypedisplay</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Record Type ; Internal&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Audit_Objectives</name>
                    <fieldText>Audit Objectives</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Year</name>
                    <choiceReferences>YearPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Reason_for_Audit</name>
                    <choiceReferences>ReasonforAuditPickListValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Audit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LeadAuditor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Lead_Auditor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lead Auditor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BMX_Quality_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AlreadyAudited</name>
                    <choiceReferences>Already_Audited</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Previously Audited?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Additional_Information</name>
                    <fieldText>Additional Information</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Audit_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>blank1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Audit_Schedule_c</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_audit_schedule.Name</elementReference>
                    </defaultValue>
                    <fieldText>Audit Schedule #</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Planned_Quarter</name>
                    <choiceReferences>PlannedQuarterPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Planned Quarter</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AuditMethod</name>
                    <choiceReferences>Audit_Method</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Audit Method</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Previous_Non_TWD_Audit</name>
                    <fieldText>Previous Non-TWD Audit</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Previous_TWD_Audit</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Previous_TWD_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Previous TWD Audit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BMX_Quality_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scope</name>
            <fieldText>Scope</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scope_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Site</name>
                    <choiceReferences>SitePicklistvalues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Site(S)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Department_s_Involved</name>
                    <choiceReferences>DepartmentInvolvedValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Department(s) Involved</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sub_Department_s_Involved</name>
                    <fieldText>Sub-Department(s) Involved</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Process_es</name>
                    <choiceReferences>ProcessPicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Process(es)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sub_Process_es</name>
                    <choiceReferences>SubProcessPicklistvalues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sub-Process(es)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scope_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>blank4</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Department_Other</name>
                    <dataType>String</dataType>
                    <fieldText>Department - Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LeadeditorCheck</name>
        <label>LeadeditorCheck</label>
        <locationX>886</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>leadauditorchk</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 64, 64);&quot;&gt;Lead Auditor can only be user with role &quot;Audit Participant&quot; or &quot;Audit Coordinator&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Successfully created  &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Quality Audit &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_audit_schedule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>nocreatd</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You can not create a record&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AuditObjectivesInternal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>externalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>internalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadAuditorInternal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>titleInternal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
