force-app/main/default/flows/Quality_Audit_SCREEN_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Emptied_Field</name>
        <label>Emptied Field</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Action_Plan_Approved_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Audit_Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Audit_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Auditee_Representative_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Findings_Action_Plan_Overdue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numbernull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Findings_Implementation_Overdue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numbernull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Initial_Action_Plan_Received_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Lead_Auditor_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Lead_Auditor_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Mail_in_Response_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Notification_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Notification_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Planned_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Planned_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Previous_TWD_Audit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Previous_Non_TWD_Audit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Report_Approval_2_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Report_Approval_3_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Report_Approval_4_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Report_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Report_Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLDATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Report_Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Report_Approver_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Audit_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_audits_schedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_quality_audit.Cancellation_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quality_audit</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NULLDATE</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>Numbernull</name>
        <dataType>Number</dataType>
        <expression>NULL</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Quality Audit][SCREEN FLOW] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quality Audit][SCREEN FLOW] Clear fields on Cloning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quality_audit</name>
        <label>Create Quality audit</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Redirect_To_New_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Get_quality_audit</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_audits_schedule</name>
        <label>get audits schedule</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Emptied_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Audit Schedule Definition</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_quality_audit.Audit_Schedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BMX_Audits_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_quality_audit</name>
        <label>Get quality audit</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_audits_schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BMX_Quality_Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;You cannot clone this record at this status&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_To_New_Record</name>
        <label>Redirect To New Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectToRecord</name>
            <fieldText>&lt;p&gt;Click here to Open &lt;a href=&quot;/{!Get_quality_audit}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Quality Audit&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_quality_audit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
