force-app/main/default/flows/Quality_Audit_After_Update_Copy_Lead_Auditor_in_Lead_Auditor_Approver1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_Lead_Auditor_Approver1</name>
        <label>Assignment Lead Auditor- Approver1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Auditor_Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Auditor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <interviewLabel>[Quality Audit][After Update] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quality Audit][After Update] Copy Lead Auditor in Lead Auditor- Approver1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_Lead_Auditor_Approver1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CMPL123_WF_Action__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CMPL123_WF_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification Approval</stringValue>
            </value>
        </filters>
        <object>BMX_Quality_Audit__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
